<div class="container shadow">
    <div class="recipe-view">
        <h1>{{currentRecipe.title}}</h1>
        <h3>{{currentRecipe.description}}</h3>
        <h2>Ингридиенты:</h2>
        <h3 *ngFor="let ingredient of currentRecipe.ingredients">
            <span>{{ingredient.name}}</span>
            <span>{{ingredient.value}}</span>
            <span>{{ingredient.valueType}}</span>
        </h3>
        <h2>Шаги приготовления:</h2>
        <h3 *ngFor="let step of currentRecipe.steps; let i = index">
            <span>{{i + 1}}</span><span>{{step.value}}</span>
        </h3>
    </div>
</div>