<div class="recipes">
  <div class="toolbox">
    <input class="toolbox_search" type="text" placeholder="поиск..." [(ngModel)]="search">
    <select class="sort-dropdown">
      <option>Дата добавления ↓</option>
      <option>Дата добавления ↑</option>
      <option>Название ↓</option>
      <option>Название ↑</option>
    </select>
  </div>
  <div class="recipes_list scrollbar">
    <div class="recipes_list-item" [title]="recipe.title" *ngFor="let recipe of filteredRecipes" [routerLink]="'recipe/' + recipe.id">
      <div class="recipes_list-item-desc">
        <span class="recipes_list-item-desc-title">{{recipe.title}}</span>
        <span class="recipes_list-item-desc-date">{{recipe.date | date: 'dd.MM.yy HH:mm'}}</span>
      </div>
      <div class="recipes_list-item-duration">
        <span>{{recipe.duration}}</span>
      </div>
    </div>
  </div>
  <button class="button-new-recipe" (click)="openEditModal()">+ Добавить</button>
</div>