<div class="screen" *ngIf="modalState.active">
  <form class="modal" 
    [formGroup]="recipeForm" 
    (ngSubmit)="saveRecipe()" 
    [@enterContainerFromBottom]>
    <div class="modal-header">
      <span class="type">{{recipeId ? 'Изменение' : 'Добавление'}}</span>
      <div class="modal-buttons">
        <button class="modal-close-btn-save" type="submit">
          <span>Сохранить</span>
        </button>
        <div class="modal-close-btn" (click)="closeSelf()">
          <span>X</span>
        </div>
      </div>
    </div>
    <div class="modal-body scrollbar">
      <div class="fields">
        <div class="column">
          <div class="row">
            <input class="field w-75" placeholder="Название" type="text" formControlName="title"
              [ngClass]="{'invalid' : recipeForm.get('title')?.errors && recipeForm.get('title')?.touched}">
            <input class="field w-25" placeholder="Время приготовления" maxlength="3" type="text" formControlName="duration"
              [ngClass]="{'invalid' : recipeForm.get('duration')?.errors && recipeForm.get('duration')?.touched}">
          </div>
          <div class="row">
            <textarea class="field area w-100" placeholder="Краткое описание" formControlName="description"
              [ngClass]="{'invalid' : recipeForm.get('description')?.errors && recipeForm.get('description')?.touched}"></textarea>
          </div>
          <div class="row">
            <span class="label">Ингредиенты</span>
          </div>
          <ng-container formArrayName="ingredients">
            <div class="row" *ngFor="let ingr of (recipeForm.controls['ingredients'] | asFormArray).controls; index as i" [formGroupName]="i">
              <input class="field w-75" placeholder="Название" type="text" formControlName="name"
                [ngClass]="{'invalid' : ingr.get('name')?.errors && ingr.get('name')?.touched}">
              <input class="field w-25" placeholder="Количество" maxlength="4" type="text" formControlName="value"
                [ngClass]="{'invalid' : ingr.get('value')?.errors && ingr.get('value')?.touched}">
            </div>
          </ng-container>
          <div class="row">
            <span class="label">Шаги приготовления</span>
          </div>
          <ng-container formArrayName="steps">
            <div class="row" *ngFor="let ingr of (recipeForm.controls['steps'] | asFormArray).controls; index as i" [formGroupName]="i">
              <textarea class="field area w-100" placeholder="Описание" type="text" formControlName="value"
                [ngClass]="{'invalid' : ingr.get('value')?.errors && ingr.get('value')?.touched}"></textarea>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- <div class="modal-footer">

    </div> -->
  </form>
  <div class="modal-backdrop" (click)="closeSelf()"></div>
</div>