@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body {
    height: 100%;
    margin: 0px!important;
    font-family: 'Roboto', sans-serif;
}

.scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: rgba(55, 65, 81, 0);
  }

  .scrollbar-mt::-webkit-scrollbar-track {
    margin-top: 5rem;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #00aeff;
    border-radius: 100vh;
    border: 3px solid rgba(55, 65, 81, 0);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7ed6ff;
  }