.menu {
    position: absolute;
    width: 16rem;
    height: 2rem;
    top: 0;
    left: calc(75% - 8rem);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.btn {
    height: 2rem;
    background-color: black;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.75rem;
    padding: 0 1rem 0 1rem;
    cursor: pointer;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.btn:hover {
    height: 2.25rem;
    line-height: 2.25rem;
}

.btn-blue {
    background-color: #00aeff;
}

.btn-red {
    background-color: #c04b4b;
}